:root {
    --primary-color: #055a05;
    /*forest green*/
    --secondary-color: #f4a261;
    /*warm sand*/
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: arial, Helvetica, sans-serif;

}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: auto;
    ;
}

h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

h1 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    position: absolute;
}

.hero h1 {
    position: absolute;
}

.hero article {
    margin: 35px;
    padding: 10px;
    position: relative;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

nav img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 0.5rem;
    box-shadow: 0 0 30px rgb(114, 108, 108);
    float: left;
    margin: 0 0 1rem 1rem;
}

header a {
    color: #bbb;
    display: block;
    padding: 0px;

}