* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Merriweather, Georgia, serif;
    font-size: 1.2em;
    color: #333;
    background: #fff;
}

header {
    margin: 0 auto;
    width: 650px;
    text-align: center;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
    text-align: left;
}

header,
main,
footer {
    width: 840px;
    margin: 0;
}

h2 {
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb (0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-attachment: #eee;
    display: grid;
}

nav img {
    width: 150px;
    height: auto;
    border: 1px solid green;
    padding: 0.5rem;
    box-shadow: 0 0 30px rgb(108, 108, 114);
    float: right;
    margin: 0 0 1rem 1rem;
}

header a {
    color: #bbb;
    display: block;
    padding: 0px;

}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;

}

nav a {
    float: right;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    /* shorthand for white */
}

figure img {
    width: 200px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    height: auto;
    margin: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
}

section figure {
    width: 300px;
    flex: 1 1 auto;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label,
input,
button,
select,
textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: left;
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}