.callout {
    maximum width: 400px;
    margin: 10px;
    border: 1px solid rgb(0 0 0/ 0.1);
    padding: 15px;
    background-color: #247;
    color: #fff;
}

.callout img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

blockquote {
    margin: 20px;
}

cite {
    display: 30px;
}